* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Form {
  text-align: center;
}

.wrapper-answers {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-answers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-answers div {
  width: 25%;
}

.Ticket-shadow {
  display: none;
}

.Ticket-visible {
  display: inline-block;
  background-color: red;
  color: white;
  border: 2px solid black;
}
